parameters:
    level: 5
    paths:
        - src
        - tests
    phpVersion: 80000
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: classConstant.unused
        - identifier: method.alreadyNarrowedType
          path: tests/OAuthTest.php
        - identifier: method.impossibleType
          path: tests/OAuthTest.php
